<!DOCTYPE html>
<html>
	<head>
		<%- include("../../partials/head", {title: title}); %>
	</head>
	<body>
		<%- include("../../partials/header"); %>
		<div class="container">
			<h1><%= title %></h1>

			<div class="ui-widget">
				<div class="form-group">
					<label for="entranceSongTitle">Chant d'entrée</label>
					<input id="entranceSongTitle" class="form-control" />
				</div>

				<div class="form-group">
					<label for="universalPrayerChorus">Prière universelle</label>
					<input id="universalPrayerChorus" class="form-control" />
				</div>

				<div class="form-group">
					<label for="offertorySongTitle">Chant d'offertoire</label>
					<input id="offertorySongTitle" class="form-control" />
				</div>
				
				<div class="form-group">
					<label for="communionSongTitle">Chant de communion</label>
					<input id="communionSongTitle" class="form-control" />
				</div>

				<div class="form-group">
					<label for="recessionalSongTitle">Chant d'envoi</label>
					<input id="recessionalSongTitle" class="form-control" />
				</div>
			</div>

			<%
				let nextWednesday = new Date();
				while (nextWednesday.getDay() !== 3)
					nextWednesday.setDate(nextWednesday.getDate() + 1);
			%>
			<label for="date" class="form-label">Date de la messe</label>
			<input type="date" id="date" class="form-control"
				value="<%= nextWednesday.toISOString().split('T')[0] %>"
			/>

			<div class="form-check">
				<input id="addGloria" type="checkbox" class="form-check-input" />
				<label for="addGloria" class="form-check-label">
					Rajouter un Gloria
				</label>
			</div>

			<br />
			
			<button type="button" class="btn btn-success" onclick="generateMediums()">
				Générer
			</button>

			<p>Diaporama enregistré :</p>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" id="slidesFrame" src="/mass/slides"></iframe>
			</div>

			<br />

			<div class="card">
				<div
					class="card-body text-secondary" id="whatsappMessage" style="white-space: pre-wrap;"
				><span class="font-italic">Message WhatsApp avec formatage</span></div>
			</div>

			<br />
			
		</div>

		<script>
			const entranceSongTitles = <%- JSON.stringify(entranceSongTitles) %>;
			const universalPrayerChoruses = <%- JSON.stringify(universalPrayerChoruses) %>;
			const offertorySongTitles = <%- JSON.stringify(offertorySongTitles) %>;
			const communionSongTitles = <%- JSON.stringify(communionSongTitles) %>;
			const recessionalSongTitles = <%- JSON.stringify(recessionalSongTitles) %>;

			$(() => {
				const noSong = "<%= noSong %>";

				entranceSongTitles.unshift(noSong);
				universalPrayerChoruses.unshift(noSong);
				offertorySongTitles.unshift(noSong);
				communionSongTitles.unshift(noSong);
				recessionalSongTitles.unshift(noSong);
				
				$("#entranceSongTitle").autocomplete({ source: entranceSongTitles, minLength: 0 });
				$("#universalPrayerChorus").autocomplete({ source: universalPrayerChoruses, minLength: 0 });
				$("#offertorySongTitle").autocomplete({ source: offertorySongTitles, minLength: 0 });
				$("#communionSongTitle").autocomplete({ source: communionSongTitles, minLength: 0 });
				$("#recessionalSongTitle").autocomplete({ source: recessionalSongTitles, minLength: 0 });

				$(
					"#entranceSongTitle, #universalPrayerChorus, #offertorySongTitle, " +
					"#communionSongTitle, #recessionalSongTitle"
				).on("focus", function() { $(this).autocomplete("search", ""); });
			});

			function generateMediums() {
				$.post("/mass", {
					entranceSongTitle: $("#entranceSongTitle").val(),
					universalPrayerChorus: $("#universalPrayerChorus").val(),
					offertorySongTitle: $("#offertorySongTitle").val(),
					communionSongTitle: $("#communionSongTitle").val(),
					recessionalSongTitle: $("#recessionalSongTitle").val(),
					date: $("#date").val(),
					addGloria: $("#addGloria").prop("checked")
				}, data => {
					const frame = $("#slidesFrame")[0];
					frame.src = frame.src;
					$("#whatsappMessage").text(data);
				});
			}
		</script>
	</body>
</html>