<!DOCTYPE html>
<html>
	<head>
		<%- include("../../partials/head", { title: title }); %>
	</head>
	<body>
		<%- include("../../partials/header"); %>
		<div class="container">
			<h1><%= title %></h1>

			<div class="clearfix">
				<a class="btn btn-secondary float-right" href="/mass/songs">Retour à la liste</a>
			</div>
			<br />

			<% if (flashType && flashMessage) { %>
			<div role="alert" class="alert alert-<%= flashType %>"><%= flashMessage %></div>
			<% } %>

			<form method="POST">
				<div class="form-group">
					<label for="title">Titre</label>
					<input id="title" name="title" class="form-control" />
				</div>

				<div class="form-group">
					<label for="lyrics">Paroles</label>
					<textarea id="lyrics" name="lyrics" class="form-control" rows="20"></textarea>
				</div>

				<div class="form-check">
					<input id="isEntranceSong" name="isEntranceSong" type="checkbox" class="form-check-input" />
					<label for="isEntranceSong" class="form-check-label">Est un chant d'entrée</label>
				</div>

				<div class="form-check">
					<input id="isOffertorySong" name="isOffertorySong" type="checkbox" class="form-check-input" />
					<label for="isOffertorySong" class="form-check-label">Est un chant d'offertoire</label>
				</div>

				<div class="form-check">
					<input id="isCommunionSong" name="isCommunionSong" type="checkbox" class="form-check-input" />
					<label for="isCommunionSong" class="form-check-label">Est un chant de communion</label>
				</div>

				<div class="form-check">
					<input id="isRecessionalSong" name="isRecessionalSong" type="checkbox" class="form-check-input" />
					<label for="isRecessionalSong" class="form-check-label">Est un chant d'envoi</label>
				</div>

				<br />

				<button class="btn btn-success" type="submit">
					Enregistrer
				</button>
			</form>
		</div>
	</body>
</html>