<!DOCTYPE html>
<html>
	<head>
		<%- include("../../partials/head", { title: title }); %>
	</head>
	<body>
		<%- include("../../partials/header"); %>
		<div class="container">
			<h1><%= title %></h1>

			<div class="clearfix">
				<a class="btn btn-secondary float-right" href="/mass/songs">Retour à la liste</a>
			</div>
			<br />

			<% if (flashType && flashMessage) { %>
			<div role="alert" class="alert alert-<%= flashType %>"><%= flashMessage %></div>
			<% } %>

			<form method="POST">
				<div class="form-group">
					<label for="title">Titre</label>
					<input id="title" name="title" class="form-control"
						value="<% if (flashTitle) { %><%= flashTitle %><% } %>"
					/>
				</div>

				<div class="form-group">
					<label for="lyrics">Paroles</label>
					<textarea id="lyrics"
						name="lyrics" class="form-control" rows="20"
						placeholder="Le refrain doit commencer par un &quot;R. &quot; (l'espace après le point est important).&#10;&#10;Les couplets ne doivent pas contenir de numéros (comme &quot;1.&quot;, &quot;2.&quot;, ...), ceux-ci sont insérés automatiquement lors de la génération.&#10;&#10;Les paragraphes doivent être séparés par une ligne vide (sans espace)."
					><% if (flashLyrics) { %><%= flashLyrics %><% } %></textarea>
				</div>

				<div class="form-check">
					<input id="isEntranceSong" name="isEntranceSong" type="checkbox"
						class="form-check-input" <% if (flashIsEntrance) { %>checked<% } %>
					/>
					<label for="isEntranceSong" class="form-check-label">
						Est un chant d'entrée
					</label>
				</div>

				<div class="form-check">
					<input id="isOffertorySong" name="isOffertorySong" type="checkbox"
						class="form-check-input" <% if (flashIsOffertory) { %>checked<% } %>
					/>
					<label for="isOffertorySong" class="form-check-label">
						Est un chant d'offertoire
					</label>
				</div>

				<div class="form-check">
					<input id="isCommunionSong" name="isCommunionSong" type="checkbox"
						class="form-check-input" <% if (flashIsCommunion) { %>checked<% } %>
					/>
					<label for="isCommunionSong" class="form-check-label">
						Est un chant de communion
					</label>
				</div>

				<div class="form-check">
					<input id="isRecessionalSong" name="isRecessionalSong" type="checkbox"
						class="form-check-input" <% if (flashIsRecessional) { %>checked<% } %>
					/>
					<label for="isRecessionalSong" class="form-check-label">
						Est un chant d'envoi
					</label>
				</div>

				<br />

				<button class="btn btn-success" type="submit">
					Enregistrer
				</button>

				<br /><br />
			</form>
		</div>
	</body>
</html>